.textpadding {
	margin-left: auto;
    margin-right: auto;
 
}
.textpadding td {
    padding: 5px;
}
input{ 
  width:100%;
  padding: 5px;
  border:1px solid black;
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.center {
	text-align: center;
}
.h1 {
	font-size: 2vw;
	font-weight: 900;
}
.emp_register {
  width: 100%;
  height: 12vh;

}
.mycenter {
  text-align: center;
  font-size: 2vw;
  padding-right: 40px;
}
.mycenter1 {
  text-align: center;
  display: block;
}
.mycenter a {
  font-size: 2vw;
}
.mytext {
  font-size: 1vw;
  padding:10px;
  text-align: center;
}
.jobsdiv {
  top: 50%;
  left: 50%;
  width: 90%;
  min-height: 50px;
  overflow: hidden;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc!important;
  margin: 0 auto;
  cursor:pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.jobtitle{
  font-weight: 900;
}
.jobcat{
  float: left;
}
.detail {
  float: left;
  display: none;
}
@media screen and (min-width: 858px){
.jobsdiv {
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ccc!important;
  margin: 0 auto;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.jobtitle{
  font-weight: 900;
}
.jobcat{
  float: left;
}

}
.myButton {
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color:#ff5bb0;
  border-radius:6px;
  border:1px solid #ee1eb5;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size: 10px;
  font-weight:bold;
  padding:3px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #c70067;
}
.myButton:hover {
  background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  background-color:#ef027d;
}

.myButton2 {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color:#ffec64;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size: 10px;
  font-weight:bold;
  padding:3px 6px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.myButton2:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color:#ffab23;
}
.myButton2:active {
  position:relative;
  top:1px;
}
